@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Playfair Display', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.icons {
	font-size: 25px;
	margin-right: 5px;
	transition: 0.2s;
	cursor: pointer;
	position: relative;
	bottom: 0;
}

.icons:hover {
	bottom: 2px;
	box-shadow: 0 1px black;
}
